:root {
  --white-smoke: #fdfdfe;
  --light-grey: #edeff0;
  --grey: #9c9c9c;
  --dark-blue: #405357;
  --pale-blue: #607d82;
  --dark-grey: #2f2f2f;
}

html,
body {
  background-color: #edeff0;
  color: #2f2f2f;
}

/* Header */

#header {
  background-color: #fdfdfee9;
  padding: 30px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

#companyLogo {
  color: #405357;
  font-weight: bold;
  font-size: 17px;
  font-family: tahoma, serif;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 3px;
  border-bottom: 3px solid;

  display:inline-block;
}

#navigation {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0 25px;
}
#navigation li {
  display: inline-block;
}
#navigation li a {
  text-decoration: none;
  color: #9c9c9c;
  padding: 15px 25px;
  display: inline-block;
}
#navigation li:hover a {
  color: #405357;
}
#navigation li a.active {
  color: #607d82;
}

#account {
  display: inline-block;
  color: #607d82;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 12px;
}
#account i {
  font-size: 32px;
  margin-right: 7px;
  vertical-align: -10px;
}

#basket {
  display: inline-block;
  color: #607d82;
  cursor: pointer;
}
#basket i {
  font-size: 32px;
  vertical-align: -10px;
}

/* Main */

#main {
  padding: 48px 0;
  margin-top: 114px;
}

/* Aside */

#aside {
  width: 200px;
  display: inline-block;
}
.page-header {
  color: #405357;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 43px;
}
.page-filter {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #2f2f2f33;
}

#priceFilter,
#colorFilter {
  padding: 20px 0;
  border-bottom: 1px solid #2f2f2f33;
}
#priceFilter > a,
#colorFilter > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
a[data-toggle=collapse][aria-expanded=false]::after {
  content: '\002b';
  float: right;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: -3px;
}
a[data-toggle=collapse][aria-expanded=true]::after {
  content: '\2212';
  float: right;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: -3px;
}

#price-submenu,
#color-submenu {
  width: 100%;
}

#priceRangeSelector {
  position: relative;
  height: 18px;
  margin-top: 15px;
  width: 100%;
}
.knob {
  width: 18px;
  height: 18px;
  background-color: #405357;
  border-radius: 9999px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.knob.left {
  top: 0;
  left: 0;
}
.knob.right {
  top: 0;
  right: 0;
}
.price-range-bar {
  height: 2px;
  background-color: #2f2f2f;
  position: relative;
  top: 8px;
}

#priceValues {
  margin-top: 6px;
  font-size: 14px;
  color: #405357;
  width: 100%;
}
#priceValues .min-price {
  float: left;
}
#priceValues .max-price {
  float: right;
}
.color-option {
  width: 18px;
  height: 18px;
  border: 1px solid #9c9c9c;
  border-radius: 9999px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.color-option:hover {
  border-color: #2f2f2f;
}
.color-option.blue { background-color: skyblue; }
.color-option.bleumarin { background-color: steelblue; }
.color-option.green { background-color: palegreen; }
.color-option.grey { background-color: grey; }
.color-option.orange { background-color: sandybrown; }
.color-option.white { background-color: white; }

/* Section */

#section {
  width: calc(100% - 200px);
  float: right;
}

#sortBy {
  float: right;
}
#dropdownSortBy {
  background-color: transparent;
  border-radius: 0;
  color: #2f2f2f;
  border-color: inherit;
  box-shadow: none;
  width: 200px;
  text-align: left;
}
#dropdownSortBy::after {
  position: absolute;
  right: 13px;
  top: 17px;
}
.dropdown-menu {
  padding: 0;
  background-color: #edeff0;
  border-radius: 0;
  border-color: #2f2f2f;
  margin-top: -1px;
  min-width: 100%;
}
.dropdown-item {
  padding: 7px 12px;
}

#products {
  margin-top: 78px;
  margin-left: 30px;
}
.product {
  cursor: pointer;
}
.product img {
  width: 100%;
}
.product-info {
  margin-top: 15px;
}

/* Footer */

#footer {
  padding: 20px;
  background-color: #607d82;
  color: #edeff0;
}
#footer p {
  margin: 0;
  text-align: center;
}
#footer p a {
  color: #edeff0;
  text-decoration: underline;
}
